{% extends 'base.html' %}
{% load static %}

{% block head_title %}Collections{% endblock %}

{% block content %}
<h1>Collections</h1>
<a class="btn btn-outline-secondary mb-4" href="{% url 'listing_service:create_collection' %}">Create New Collection</a>

{% for collection in collections %}
    {% if not collection.private or collection.owner == request.user %}
        <h2><a href="{% url 'listing_service:collection_details' collection.id %}">{{ collection.title }}</a></h2>
        <p>{{ collection.description }}</p>
        <p>Private: {{ collection.private }}</p>
        <p>Created by: {{ collection.owner }}</p>
        <hr>
    {% endif %}
{% empty %}
<p>No collections available.</p>
{% endfor %}

<a href="{% url 'listing_service:create_collection' %}">Create New Collection</a>
{% endblock %}